.hero {
    display: flex;

    background-color: blue;
    align-items: center;
    text-align: center;
}

.tabcontainer {
    width: 80%;
    margin: 0 auto;
}

/* .herocontent { 
    padding-inline: 10%;
} */


.banner {
    display: flex;
    height: 10%;
    background-color: rgb(128, 0, 0);
    justify-content: space-around;
    padding-block: 15px;
    padding-inline: 10%;
}

.logo {
    background-color: aqua;
}

.links {
    background-color: rgb(68, 0, 255);

}

.button {
    background-color: #255ee9;
    height: 30px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 999px;
}

.download {
    margin: 10px;
}

.herocontent {
    background-color: chartreuse;
    width: 70%;
    margin: 0 auto;

}

.row {
    display: flex;
    /* justify-content: center;
    è scorretto, per via del fatto che il testo sennò tendere ad occupare
     tutta la riga arrivando agli estremi, e a noi questo non interessa.. */
    padding: 10%;
    margin: 0 auto;
    gap: 50px;
}


.row figure {
    flex-basis: 40%;
    background-color: red;
}

.row aside {
    flex-basis: 60%;
    background-color: blue;
}

.row:nth-child(even) {
    background-color: aquamarine;
    flex-direction: row-reverse;
}

.row:last-child {
    flex-direction: column-reverse;
    text-align: center;
}

.tabcontainer {
    display: flex;

}

.column {
    flex-grow: 1;
    padding-block: 20px;
}

footer .banner {
    background-color: gray;

}

footer {
    background-color: chocolate;

}