.hero {
    display: flex;
    height: 70vh;
    background-color: blue;
    align-items: center;
}

.banner {
    display: flex;
    height: 10%;
    background-color: rgb(128, 0, 0);
    justify-content: space-around;
    padding-block: 1%;
}

.logo {
    background-color: aqua;
}

.links {
    background-color: rgb(68, 0, 255);

}

.button {
    background-color: #255ee9;
    height: 30px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 999px;
}

.title,
.download {
    text-align: center;
    margin: 10px;

}

.herocontent {
    background-color: chartreuse;
}

.row {
    display: flex;
    justify-content: center;
    padding: 10%;
    gap: 50px;
}

.picture {
    width: 600px;
    height: 450px;
}

.row figure {
    flex-basis: 40%;
    background-color: red;
}

.row:nth-child(even) {
    background-color: aquamarine;
    flex-direction: row-reverse;
}

.row:last-child {
    flex-direction: column-reverse;
    text-align: center;
}